#body{
    background-color: #ffffff;
}
h1{
    color: darkblue;
    background-color: #ffffff;
    text-align: center;
    content: 3px;
    border: 7px double;
    padding: 2px;
    margin: 8px;
}
nav{
    text-align: center;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}